/*

Project Name: 		Unreasonable Climax
Project URL:		summit.unreasonableinstitute.org
Description: 		One-page scrolling events site.
Author: 			Cesar Gonzalez - icesar@gmail.com

*/


/* =Reset
/*****************************************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, u, i, s, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;
}

body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}

:focus {outline: 0;}

ins {text-decoration: none;}
del {text-decoration: line-through;}

table {border-collapse: collapse; border-spacing: 0;}
a {text-decoration: none;}

/* =General
/*****************************************************/
html, body { 
	font-family: Georgia, sans-serif; 
	color: #888; 
	font-size: 18px;
}

.left { float:left; }
.right { float:right; }
.center { text-align:center !important; }
.clear { clear:both; }

.alignleft { float:left; margin:0 25px 25px 0; }
.alignright { float:right; margin:0 0 25px 25px; }

.text-shadow {
	text-shadow: 2px 2px 1px #BBB;
}

.blue-text-shadow {
	text-shadow: 2px 2px 1px #67C7E4;
}

.photo-shadow {
	-moz-box-shadow: 0 0 6px #BBB;
	-webkit-box-shadow: 0 0 6px #BBB;
	box-shadow: 0 0 6px #BBB;
}

.dark-photo-shadow {
	-moz-box-shadow: 0 0 6px #444;
	-webkit-box-shadow: 0 0 6px #444;
	box-shadow: 0 0 6px #444;
}

body p {line-height: 26px; margin-bottom: 20px;}

h1 { font-weight: normal; font-size: 30px; color: #6b6a6a; }

h2 { 
	font-family: Arial, sans-serif;
	font-weight: normal; 
	font-size: 29px;
	color: #333; 
	font-weight: normal; 
	text-align: center; 
	text-transform: uppercase;
	padding-bottom: 9px;
	margin-bottom: 40px; 
	border-bottom: 1px solid #BBB;
}

h3 { font-weight: normal; font-size: 22px; font-style: italic; color: #000; margin-bottom: 28px; }
h4 { font-weight: normal; font-size: 22px; font-style: italic; color: #fff; line-height: 32px; }
h5 { font-weight: normal; font-size: 16px; color: #6b6a6a; }


/* =Layout
/*****************************************************/
body {
	background: #FFF url(/images/pattern.jpg) top left repeat;
	min-width: 960px;

}

.section { 
	display: block; 
	position: relative; 
	padding: 150px 0 70px 0;
	overflow: auto;
}

#fifth-section { padding-bottom: 100px; }

.content { 
	display: block; 
	position: relative; 
	margin: 0 auto; 
	min-width: 960px; 
	width: 960px; 
}


/* =Links
/*****************************************************/
a:link { color: #0a97be; }
a:hover { color: #00799b; }
a:focus { color: #0a97be; }
a:visited { color: #0a97be; }


/* =Navigation
/*****************************************************/
.navigation-wrapper { 
	z-index: 100; 
	position: fixed; 
	background: #000;
	height: 90px; 
	width: 100%; 
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	opacity: .92;
}

.navigation-wrapper .navigation { 
	margin: 0 auto; 
	width: 960px ; 
}

.navigation-wrapper .navigation a.logo { 
	float: left; 
	display: block; 
	background: url(/images/unreasonable-logo.png) top left no-repeat; 
	text-indent: -999px; 
	width: 250px; 
	height: 47px; 
	margin-top: 23px; 
}

#nav { float: right; margin-top: 21px; }
#nav li { float: left; margin-left: 35px; }
#nav li a { 
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: lighter;
	line-height: 1.3;
	
	display: block; 
	height: 40px; 
}

#nav li a span {
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

#nav #about { width: 85px; }
#nav #agenda { width: 88px; }
#nav #fellows { width: 93px; }
#nav #attendees { width: 85px; }
#nav #register { width: 96px; }

#nav li a:link { color: #FFF; }
#nav li a:hover { color: #ABEB30; }
#nav li a:focus { color: #FFF; }
#nav li a:visited { color: #FFF; }





/* =Sections
/*****************************************************/
#first-section { 
}

#first-section h1.logo { 
	background: url(/images/climax-logo-2.png) top left no-repeat; 
	margin-bottom: 30px; 
	width: 960px; 
	height: 260px; 
	display: block; 
	text-indent: -2000px; 
	overflow: hidden; 
}

.big-message {
	font-size: 20px;
	line-height: 1.6;
	font-style: italic;
	margin-bottom: 30px;
}

.small-message {
	font-size: 13px;
	font-style: normal;
	color: #03A80E;
}

#video-intro {
	display: block;
	background-color: #FFF;
	border: 1px solid #BBB;
	width: 620px;
	height: 270px;
	padding: 10px;
}

#second-section, #fourth-section {
	background: #18A6D0 url(/images/pattern2.jpg) top left repeat;
	color: #FFF;
}

#second-section h2, #fourth-section h2 {
	color: #FFF;
	border-color: #FFF;
}

#second-section a, #fourth-section a {
	color: #D1F4FE;
	text-decoration: underline;
}

#second-section a:hover, #fourth-section a:hover {
	color: #FFF;
	text-decoration: none;	
}

.event-highlight {
	overflow: auto;
	clear: both;
	margin-bottom: 40px;
}

.event-highlight img {
	float: left;
	background-color: #FFF;
	padding: 7px;
}

.event-highlight .details-wrapper {
	float: right;
	width: 660px;
}

.details-wrapper h3 {
	font-size: 21px;
	margin-bottom: 12px;
}

.details-wrapper p {
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 12px;
}

.details-wrapper p.details {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #D1F4FE;
	line-height: 1.2;
}

#eventbrite-attendees-list ul li {
	display: block;
	width: 450px;
	padding: 0 30px 30px 0;
	float: left;
}

/* =Fellow Thumbnails
/*****************************************************/
#awesome-people {
	width: 100%;
	overflow: auto;
}

#awesome-people .profile_thumb {
	width: 100px;
	height: 66px;
	float: left;
	padding: 2px;
	border: 1px solid #BBB;
	margin: 0 8px 8px 0;
	overflow: hide;
}

#awesome-people .profile_thumb:hover {
	opacity: .8;
}

#awesome-people .profile_thumb .imageframe {
	display: block;
	height: 66px;
	overflow: hidden;
}

#awesome-people .profile_thumb img {
	width: 100px;
	border-width: 0px;
}


/* =TipTip CSS - Version 1.2
/*****************************************************/

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 12px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);

	background: rgb(25,25,25);
	background: rgba(25,25,25,0.92);

	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

#tiptip_content .thumb_info { font-size: 14px; }
#tiptip_content .thumb_info p { line-height: 1.3; }

#tiptip_content .thumb_info h3 { 
	color: #FFF;
	font-style: normal;
	font-size: 22px;
	line-height: 1; 
	padding: 0; 
	margin-bottom: 2px;
	
}
#tiptip_content .thumb_info .user_type { 
	font-style: italic; 
	margin-bottom: 15px;
}

#tiptip_content .thumb_info .user_title { 
	font-family: Arial, sans-serif;
	text-decoration: underline;
	font-size: 17px;
	margin-bottom: 5px;
}


/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}